[submodule "generators/sdf-fft"]
	path = generators/sdf-fft
	url = https://github.com/milovanovic/sdf-fft.git
[submodule "generators/zeropadder"]
	path = generators/zeropadder
	url = https://github.com/milovanovic/zeropadder.git
[submodule "generators/windowing"]
	path = generators/windowing
	url = git@github.com:milovanovic/windowing.git
